.header-image{
  /* Add the blur effect */
  /*filter: blur(5px);
  -webkit-filter: blur(5px);*/

  /* Full height */

  /* Center and scale the image nicely */
  height: 40%;
  background: url("src/assets/images/tiffany-levi-sunset.jpg") no-repeat fixed center top;
  background-size: 100%;
}
.header-text {
/*  background-color: rgb(0,0,0); !* Fallback color *!
  background-color: rgba(0,0,0, 0.4); !* Black w/opacity/see-through *!*/
  color: white;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 50%;
  text-align: center;

}

h1{
  font-size: 4em;
  letter-spacing: 30px;
}

h2 {
  font-size: 3em;
}

@media only screen and (max-width: 1560px){
  h1 {
    font-size: 3em;
    letter-spacing: normal;
  }

  h2 {
    font-size: 2em;
  }


  .header-image{
    /* Add the blur effect */
    /*filter: blur(5px);
    -webkit-filter: blur(5px);*/

    /* Full height */

    /* Center and scale the image nicely */
    height: 50%;
    background: url("src/assets/images/tiffany-levi-sunset.jpg") no-repeat fixed center bottom;
    background-size: cover;
  }
  .header-text {
    /*  background-color: rgb(0,0,0); !* Fallback color *!
      background-color: rgba(0,0,0, 0.4); !* Black w/opacity/see-through *!*/
    color: white;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 50%;
    text-align: center;

  }
}
