
.example-spacer {
  flex: 1 1 auto;
}

span{
  font-size: 2em;
  font-weight: bold;
  margin-left: 0.5em;
  margin-right: 0.5em;
  color: #465A73
}

mat-toolbar{
  background-color: rgba(255,255,255, 0.5);
}

img {
  height: 64px;
}

.app-toolbar {
  font-family: 'Amatic SC', cursive;
}

@media only screen and (max-width: 857px){
  #married-since {
    display: none;
  }
  img {
    height: 56px;
  }
}


