<div class="challenge-wrapper">

  <div class="challenge-header">
    <div class="left"></div>
    <div class="center">
      <h1 style="font-size: 3.5em">Welcome to Your Wedding Challenge</h1>
      <hr>
      <p style="font-size: 3em">Great to see you here! You have to complete all of the following challenges to get to
        your final wedding gift. Have
        fun and enjoy life!</p>
    </div>
  </div>
  <div class="right"></div>

  <div class="challenge-stepper">
    <div class="left"></div>
    <div class="center">

      <mat-vertical-stepper linear="true" selectedIndex="0" #stepper>
        <ng-template matStepperIcon="done">
          <mat-icon>done</mat-icon>
        </ng-template>
        <ng-template matStepperIcon="edit">
          <mat-icon>done</mat-icon>
        </ng-template>

        <mat-step>
          <ng-template matStepLabel>Cook Some Good ole' German Food</ng-template>
        </mat-step>

        <mat-step>
          <ng-template matStepLabel>Take a Break from Life</ng-template>
        </mat-step>

        <mat-step>
          <ng-template matStepLabel>Floating in Memories</ng-template>
        </mat-step>

        <mat-step>
          <ng-template matStepLabel>This One Is For Levi</ng-template>
        </mat-step>

        <mat-step>
          <ng-template matStepLabel>Writing a Letter</ng-template>
        </mat-step>

        <mat-step>
          <ng-template matStepLabel>Persisting Memories</ng-template>
        </mat-step>

        <mat-step>
          <ng-template matStepLabel>Floating in Memories... Again</ng-template>
        </mat-step>

        <mat-step>
          <ng-template matStepLabel>It's Wine O'Clock</ng-template>
        </mat-step>

        <mat-step>
          <ng-template matStepLabel>Back to the future</ng-template>
        </mat-step>

        <mat-step>
          <ng-template matStepLabel>Cocktail Time</ng-template>
        </mat-step>

        <mat-step>
          <ng-template matStepLabel>Travel Planning</ng-template>
        </mat-step>

      </mat-vertical-stepper>

    </div>
    <div class="right"></div>
  </div>
</div>

<div style="text-align: center; padding: 3em" class="final-wedding-gift">
  <h1 style="font-size: 3em">Come and Get Your Wedding Gift ...</h1>
</div>

