.wishes{
  padding-top: 2em;
  margin-top: 3em;
  text-align: center;
  width: 100%;
}

img {
  height: 320px;
}
.parallax {
  /* The image used */
  background-image: url("src/assets/images/tiffany-levi-cheers.jpg");

  /* Set a specific height */
  height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
